
        body {
            font-family: Arial, sans-serif;
            color: #fff;
            margin: 0;
            padding: 0;
            background-image: url('https://img.freepik.com/vecteurs-libre/copie-espace-bleu-circuits-fond-numerique_23-2148821699.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            animation: backgroundAnimation 15s infinite alternate linear;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        @keyframes backgroundAnimation {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100% 50%;
            }
        }

        h1 {
            font-size: 36px;
            text-align: center;
            margin: 20px 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgba(47, 44, 190, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        .tabs {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            background-color: #333;
            border-radius: 5px;
        }

        .tabs li {
            margin: 10px;
        }

        .tabs li a {
            display: block;
            padding: 10px 20px;
            background-color: #444;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .tabs li a:hover {
            background-color: #555;
        }

        .tab-content {
            display: none;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: left;
            margin-top: 20px;
        }

        .tab-content h2 {
            font-size: 24px;
            margin-top: 0;
            color: #333;
        }

        .tab-content p {
            line-height: 1.5;
            color: #555;
        }

        .active-tab {
            display: block;
        }
